<%= form_with model: book, scope: :book, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>

  <div class="form-group position-static">
    <p>Rate</p>
    <% if book.id.nil? %>
    <div id="post_raty"></div>
      <script>
        $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'book[star]',
        };
        raty(elem,opt);
      });
      </script>
    <% else %>
      <div class="form-group">
        <%= render "devise/shared/output_star", book: book %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :Tag %>
    <%= f.text_field :category, class: "form-control book_category" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Book", class: 'btn btn-success' %>
  </div>
<% end %>
